# Season / network mode
SEASON=standalone

# Account injection
ACCOUNT_INJECTION_OPTION=private_key
UNSAFE_PRIVATE_KEY=b22c95ffc4a5c096f7d7d0487ba963ce6ac945bdc91c79b64ce209de289bec96

# Neo4j credentials
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=neo4jpassword

# Ports
PORT=8080
P2P_PORT=4998
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687
